<div id="<%= dom_id drink %>">
  <p>
    <strong>Brand:</strong>
    <%= drink.brand %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= drink.style %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= drink.country %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= drink.quantity %>
  </p>

</div>
